<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Retwis.js - Example Twitter clone based on the Redis Key-Value DB</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="page">
      <div id="header">
        <a href="/"><img style="border:none" src="/logo.png" width="192" height="85" alt="Retwis"></a>
        <div id="navbar">
          <a href="/">home</a> | <a href="/timeline">timeline</a>
          <% if( logout ){ %>
            | <a href="/logout">logout</a>
          <% } %>
        </div>
      </div>
      <%- body %>
      <div id="footer">Redis is a very simple Twitter clone written in node.js as example application of the <a href="http://code.google.com/p/redis/">Redis key-value database</a></div>
    </div>
  </body>
</html>
